<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  <div class="container">
  	<div class="row">
  		<div class="col-lg-3 col-sm-offset-1">
  			<center>
  				<a href="http://lunr.cs.stonybrook.edu/">
						<img src="images/lunr_logo.png">
					</a>
  			</center>
  		</div>

      <div class="col-lg-3 col-sm-offset-4">
        <center>
          <img src="images/HLAB_logo.png">
        </center>
      </div>
    </div>

    <div class="row">
    	<div class="col col-lg-10 col-sm-offset-1">

      	{{ content }}


     	</div>
    </div>

  </div>

</body>
</html>